body {
  font-size: 14px;
  max-width: 680px;
  padding: 0 10px;
  margin: 40px auto;
  line-height: 1.5;
}

a {
  text-decoration: none;
}

pre {
  overflow-x: auto;
}

@media (prefers-color-scheme: light) {
  :root {
    --background-color: #fefefe;
    --default-color: #454545;
  }
  body {
    color: var(--default-color);
    background-color: var(--background-color);
  }

  mark {
    background-color: #ffec99;
  }

  a {
    color:#1864ab;
  }
  
  pre {
    background-color: #fafafa;
  }

  .DarkModeOnly {
    display: none;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-color: #3f3f46;
    --default-color: #a1a1aa;
    --primary-color: #d4d4d8;
  }
  body {
    color: var(--default-color);
    background-color: var(--background-color);
  }

  strong {
    color: var(--primary-color);
  }

  pre {
    background-color: #404040;
  }

  mark {
    color: var(--background-color);
    background-color: #f59f00;
  }
  
  a {
    color:#1098ad;
  }

  .DarkModeOnly {
    background-color: #404040;
  }
}