body {
  font-size: 14px;
  max-width: 680px;
  padding: 0 10px;
  margin: 40px auto;
  line-height: 1.5;
}

a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

pre {
  overflow-x: auto;
}

@media (prefers-color-scheme: light) {
  :root {
    --background-color: #fefefe;
    --default-color: #454545;
  }
  body {
    color: var(--default-color);
    background-color: var(--background-color);
  }

  mark {
    background-color: #ffec99;
  }

  a {
    color:#1864ab;
  }
  
  pre {
    background-color: #fafafa;
  }

  .DarkModeOnly {
    display: none;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-color: #000000;
    --default-color: #71717a;
    --primary-color: #a1a1aa;
    --brighter-color: #c4c4c8;
  }
  body {
    color: var(--default-color);
    background-color: var(--background-color);
  }

  strong {
    color: var(--primary-color);
  }

  pre {
    background-color: #202020;
  }

  mark {
    color: var(--brighter-color);
    background-color: #8e6624;
  }
  
  a {
    color:#0b7285;
  }

  .DarkModeOnly {
    background-color: #202020;
  }
}